.cube {
    width: 100px;
    height: 100px;
    margin: 100px;
    position: relative;
    /* border: 1px solid green; */
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform: rotateX(-30deg) rotateY(-80deg);
    -webkit-transform: rotateX(-30deg) rotateY(-80deg);
    animation: rotate linear 20s infinite;
    -webkit-animation: rotate linear 20s infinite;
}
@keyframes rotate {
    from {
        transform: rotateX(0deg) rotateY(0deg);
    }
    to {
        transform: rotateX(360deg) rotateY(360deg)
    }
}
@-webkit-keyframes rotate {
    from {
        transform: rotateX(0deg) rotateY(0deg);
    }
    to {
        transform: rotateX(360deg) rotateY(360deg)
    }
}
.item {
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    font-size: 26px;
    text-align: center;
    line-height: 150px;
    position: absolute;
    font-weight: bold;
    box-sizing: border-box;
    border: 3px solid black;
}
.front {
    transform: rotateY(0deg) translateZ(50px);
    -webkit-transform: rotateY(0deg) translateZ(50px);
}
.back {
    transform: translateZ(-50px) rotateY(180deg);
    -webkit-transform: translateZ(-50px) rotateY(180deg);
}
.left {
    transform: rotateY(-90deg) translateZ(50px);
    -webkit-transform: rotateY(-90deg) translateZ(50px);
}
.right {
    transform: rotateY(90deg) translateZ(50px);
    -webkit-transform: rotateY(90deg) translateZ(50px);
}
.top {
    transform: rotateX(90deg) translateZ(50px);
    -webkit-transform: rotateX(90deg) translateZ(50px);
}
.bottom {
    transform: rotateX(-90deg) translateZ(50px);
    -webkit-transform: rotateX(-90deg) translateZ(50px);
}